.formLabel {
    font-weight: bold;
    padding: 1em 0;
    font-size: .8em;
    padding-inline-start: 1em;
}

.changePasswordWrp {
    max-width: 500px;
}

@media (min-width:460px) {
    .changePasswordWrp {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em 2em;
    }
}