.formLabel {
    font-weight: bold;
    padding: 1em 0;
    font-size: .8em;
    padding-inline-start: 1em;
}

.changePasswordWrp {
    max-width: 500px;
}

.error {
    margin-top: 1em;
}

.submitBtn {
    margin-top: 1.5em;
}