.orderDetails {
    font-size: .75em;
    display: flex;
    justify-content: space-between;
}

.productWrp {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.productDetails {
    display: flex;
    gap: 1em;
    font-size: .75em;
}

.productIcon {
    border-radius: 15px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    padding-top: .6em;
}

.productBtn span {
    border-radius: var(--borderRadius);
    font-size: .8em;
    padding: 5px 15px;
    background: var(--primaryAccent);
    font-weight: bold;
}

.cardList {
    border-bottom: 2px solid var(--border-bottom);
}

.cardInfo {
    padding: .4em;
    border-top: 2px solid var(--border-bottom);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* .cardInfo>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} */

.cardInnerPin {
    display: flex;
    gap: .3em;
}

.cardInfo h3 {
    font-size: .8em;
}

.cardInfo span {
    font-size: .85em;
}

.iconWrp {
    width: 45px;
    height: 45px;
}

.value {
    /* DO NOT REMOVE */
}

.hide {
    visibility: hidden;
}

.showBtn {
    border-radius: var(--borderRadius);
    background-color: var(--primaryAccent);
    padding: .3em 1em;
    cursor: pointer;
}

.showBtn:hover {
    background: #00b3ff80;
}

@media (min-width:410px) {
    .cardInfo {
        justify-content: space-between;
    }
}

@media (min-width:450px) {
    .productDetails {
        font-size: .85em;
    }
}

@media (min-width:570px) {
    .cardInfo div {
        width: 50%;
    }
}

@media (min-width:800px) {
    .cardInfo div {
        width: 40%;
    }
}