.input_wrp
{
    width: 100%;
}

.label
{
    /* display: grid;
    grid-template-columns: auto 1fr; */
    display: flex;
    background-color: var(--inputBackground);
    align-items: center;
    position: relative;
    border-radius: var(--borderRadius);
    padding: .8em 0;
    border: 2px solid transparent;
}

.input::placeholder, .label 
{
    font-weight: bold;
    letter-spacing: -.5px;
    font-weight: 800;
    font-size: 12px;
}


.label:focus-within
{
    border: 2px solid var(--primaryAccent);
    background-color: var(--primaryAccentAlpha);
}

.input
{
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    padding-inline: 1.5em;
    flex: 1
}

.label span {
    /* padding-inline: 2em; */
    padding-inline-start: 1em;
    flex: 0 0 auto; /* This makes the first child take up only as much space as its content needs */
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active{
    color: white;transition: background-color 10000s;
    -webkit-text-fill-color: white;
}