
.wrapper {
    position: relative;
    border: 1px solid var(--border-bottom);
    overflow: auto;
    border-radius: 7px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-bottom);
    padding: .65em 1em;
    background: var(--navBackground);
    transition: height 0.5s ease;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: .3em;
}

.transactionWrp {
    padding: .65em 1em;
    font-size: .8em;
    background: var(--navBackground2);
    gap: 1em;
}

.transactionInfo {
    display: flex;
    justify-content: space-between;
}

.value {
    display: flex;
    flex-direction: column;
}

.value::before {
    content: attr(data);
}

.period {
    align-items: flex-end;
}

.visibility {
    display: none;
}

.chevron {
    transform: rotate(180deg);
}

.additionalInfo {
    padding-top: 10px;
}

.additionalInfo::before {
    content: attr(data);
    font-weight: bold;
}

.dateAt1000 {
    display: none;
    font-size: .8em;
}

@media (min-width: 1000px) {
    .dateAt1000 {
        display: block;
    }

    .wrapper {
        display: grid; 
        border: none;       
        border-top: 2px solid var(--border-bottom);
        grid-template-columns: 50% 43%;
        /* justify-content: space-between; */
        padding: .5em 0;
    }

    .wrapper:last-child {
        border-bottom: 2px solid var(--border-bottom);
    }
    
    .period {
        display: none;
    }

    .header {
        background-color: transparent;
        border: none;
        padding: 0;
        display: grid;
        grid-template-columns: 150px 130px 100px;
        justify-content: space-between;
    }

    .headerRight span {
        font-size: .8em;
    }

    .chevronWrp {
        display: none;
        
    }

    .transactionWrp {
        background-color: transparent;
        padding: 0;
        font-size: .8em;
        display: grid;
        grid-template-columns: 65px auto;
        gap: 4em;
        /* gap: 1.2em; */
    }


    .transactionInfo {
        align-self: center;
        justify-content: flex-end;
    }
    
    .transactionType {
        font-size: .8em;
    }

    .additionalInfo {
        padding: 0;
        align-self: center;
    }
    
    .additionalInfo::before {
        display: none;
    }
    
    .value {
        flex-direction: row;
        align-items: center;
    }

    .value::before {
        display: none;
    }
    
}