
.contentWrp {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.heading {
    font-weight: bold;
    font-size: .9em;
}

.user_info {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.title {
    display: flex;
    gap: .8em;
}

.title img {
    display: block;
    background-image: '/img/tt_flag.webp';
    border-radius: 15px;
    /* width: 50px;
    height: 50px; */
}

.title span {
    font-weight: bold;
    font-size: .8em;
}

.balance {
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 1px;
}

.topUpForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.voucherWrp input {
    width: 100%;
    text-align: center; 
}

.voucherInnerWrp {
    background: var(--inputBackground);
    padding: 5px;
    border-radius: var(--borderRadius);
    font-weight: bold;
    display: flex;  
}

.voucherInnerWrp * {
    background-color: transparent;
    background: transparent;
    padding-inline: .5em;
    outline: none;
}

/* .voucherInnerWrp:focus-within {
    background: var(--digicelAlpha); 
} */

.voucherInnerWrp input::-webkit-outer-spin-button,
.voucherInnerWrp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdownMenu option {
    background: var(--navBackground2);
}

.dropdownMenu {
    background: transparent;
}

.topupBtn, .calculateBtn {
    padding: 5px;
    border-radius: var(--borderRadius);
    font-weight: bold;
    text-align: center;
    height: fit-content;
    /* background-color: var(--digicel); */
}

.calculator {
    display: grid;
    gap: .5em;
}

.calculatorInput {
    display: grid;
    gap: 1em;
}

.calculateBtn {
    background: var(--primaryAccent);
}

.calculator_stats {
    font-size: .9em;
    display: grid;
    grid-template-columns: 1fr auto;
}

.statsTitle {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .5em;
}

.statValue {
    text-align: end;
}

.statTotal {
    margin-top: .5em;
    font-weight: bold;
}

.calculator_balance {
    display: flex;
    align-items: center;
    color: var(--primaryAccent);
}

@media (min-width: 480px) {
    .topUpForm {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .calculatorInput {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 1000px) {
    .contentWrp {
        max-width: 600px;
        margin: 0 auto;
    }
}