@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {

  --CPT-THM-H: 196;
  --CPT-THM-S: 100%;
  --CPT-THM-L: 50%;
  --CPT-FS: 1em;
  --CPT-BDW: 1px; 
  --CPT-BDR: calc(var(--CPT-FS) * 1.5);

  --white: #fff;
  --gray: #505252; 
  --gray2: #373838; 
  --gray3: #37383828; 
  --lightGray: rgb(224, 224, 224);
  --primaryColor: #293032;
  --secondaryColor:#F2F2F2;
  --primaryAccent: #00B1FF;
  --translucentAccent: linear-gradient(90deg, rgba(0,177,255,0) 0%, rgba(0,177,255,0.2413340336134454) 100%);
  --primaryAccentAlpha: #00b3ff25;
  --secondaryAccent: #CCC6A4;
  --red: red;
  --white: white;
  --background-color-mask-a75: hsl(var(--CPT-THM-H, 0) calc(var(--CPT-THM-S, 100%) / 10) 5%/75%);
  --sidebarBackground: var(--background-color-mask-a75, rgba(255 255 255/75%));
  --background: #171B1C;
  --searchBarBorder: #373f41;
  --navBackground: #30383B;
  --navBackground2: #293032;
  --body-text-color-a5: rgba(255 255 255/5%);
  --borderColor: var(--body-text-color-a5, rgba(0 0 0/5%));
  --inputBackground: #22282A;
  --submitBtn: linear-gradient(calc(135deg * var(--angle-reverse, 1)),hsl(calc(var(--CPT-THM-H) - 5) var(--CPT-THM-S) var(--CPT-THM-L)),hsl(calc(var(--CPT-THM-H) + 5) var(--CPT-THM-S) var(--CPT-THM-L)));
  --maxContentWidth: 1300px;
  --grayText: #a8a8a8bf;
  --borderRadius: calc(var(--CPT-BDR) - var(--CPT-BDW));
  --bmobile: rgb(26, 126, 26);
  --bmobileAlpha: rgba(26, 126, 26, 0.274);
  --digicel: rgb(202, 29, 29);
  --digicelAlpha: rgba(202, 29, 29, 0.274);
  --border-bottom: rgba(255 255 255 / 5%);
  --money-green: rgb(51, 226, 51);
}

.Completed {
  color:rgb(26, 126, 26);
}

.Refunded {
  color: rgb(202, 29, 29);
}

.Waiting {
  color: rgb(240, 164, 23);
}

.Sending {
  color: rgb(226, 226, 12);
}

.successful {
  color: rgb(8, 230, 8);
}

.failed {
  color: rgb(228, 37, 37);
}

.filter_blue:hover
{
  filter: brightness(0) saturate(100%) invert(62%) sepia(43%) saturate(6643%) hue-rotate(169deg) brightness(104%) contrast(104%);
}

@media (prefers-color-scheme: dark) {

}

.accent
{
  color: var(--primaryAccent) !important;
}

.bmobile {
  background: var(--bmobile);
}

.bmobileAlpha:focus-within {
  background: var(--bmobileAlpha);
}

.digicel {
  background: var(--digicel);
}

.digicelAlpha:focus-within {
  background: var(--digicelAlpha);
}

.accentAsGradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,177,255,1) 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-manrope);
  outline: none;
  overflow-x: hidden;
  color: white;
  background-color: var(--background);
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  overflow: hidden;
}

.body2, .adminBody {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adminBody {
  margin-top: calc(15vh + .5em);
}

.body2 {
  margin-top: calc(10vh + .5em);
}

footer {
  justify-self: flex-end;
}

.display {
  display: block !important;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity .3s; 
}

.backgroundGradient
{
  background-image: linear-gradient(calc(135deg * var(--angle-reverse, 1)),hsl(calc(var(--CPT-THM-H) - 5) var(--CPT-THM-S) var(--CPT-THM-L)),hsl(calc(var(--CPT-THM-H) + 5) var(--CPT-THM-S) var(--CPT-THM-L)));
}

.roundedBorders
{
  box-sizing: border-box;
  /* padding-inline: 1.5em; */
  border-radius: calc(var(--CPT-BDR) - var(--CPT-BDW));
}

.rectangularBorders 
{
  padding-inline: 1em;
  border-radius: 5px;
}

.menu
{
  align-self: center;
  padding-right: 1em;
}

.signin
{
  background-color: rgba( 0 187 255 / 1 );
}

.signup
{
  background-color: rgba( 154 205 50 / 1 );
}

.hide {
  display: none !important;
}

.register_login_form_wrp {
  max-width: 500px;
}

.register_login_form {
  width: 90%;
  margin: 2em auto;
  max-width: 600px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formBorderDefault {
  padding: 1.5em;
}

.rotateAddition
{
  transform: rotate(225deg);
  transition: .3s;
}

.show_dl
{
  padding-block-end: 1em;
}

.centerImg
{
  max-height: 100%;
  max-width: 100%;
  /* width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  object-fit: contain;
  object-position: center;
}

.toggleSidebar {
  cursor: pointer;
}

.border {
  background: var(--navBackground);
  border-radius: 10px;
  padding: 1.3em;
  border: none;
}

.hideInput {
  position: absolute;
  width: 0%;
  height: 0%;
  padding: 0;
  margin: 0;
  color: transparent;
  outline: none;
}

.hideInputScroller::-webkit-outer-spin-button,
.hideInputScroller::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.blur2 {
  visibility: hidden;
}

@media (min-width: 750px) {
  .body {
    margin-top: 8vh;
  }
}