.wrapper {
    padding: 0 1em;
    margin: auto;
    max-width: 600px;
}

.wrapper h1 {
    font-weight: bolder;
    font-size: 2em;
}

.wrapper p {
    font-size: 1.1em;
}

.mission {
    margin-top: 2em;
}